@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }

  * {
    font-family: "Inter";
  }

  body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    div {
        display: flex;
        flex-direction: column;
    }
    
    .nav {
      margin: auto;
    }


