@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }

  * {
    font-family: "Inter";
  }

  body {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-flow: column wrap;
      height: 100vh;
      width: 100vw;
    }
    
    nav {
      order: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    h1 {
        order: 2;
        align-self: center;
    }

    .clickable {
        order: 3;
        align-self: center;
    }

    ul {
        order: 4;
        align-self: center;
        list-style-type: none;
    }

    form {
        order: 4;
        align-self: center;
    }

    .desc {
        order: 4;
        text-align: center;
    }

    a {
        text-decoration: none;
    }

  





