<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Game</title>
</head>
<body>
    <h1>Add Game</h1>

    <form>
        <label for="title">Title:</label>
    <input type="text" name="title" id="title">
    <br>
    <label for="difficulty">Difficulty:</label>
    <select name="difficulty" id="difficulty">
        <option value="not">Not Difficult</option>
        <option value="somewhat">Somewhat Difficult</option>
        <option value="very">Very Difficult</option>
        <option value="imp">Impossible</option>
    </select>
    <br>
    <label for="isCompleted">Game Completed?</label>
    <input type="checkbox" checked="checked" />
    <br>
    <label for="gamingPlatform">Platform:</label>
    <select name="gamingPlatform" id="gamingPlatform">
        <option value="pc">PC</option>
        <option value="playstation">PlayStation</option>
        <option value="xbox">XBOX</option>
        <option value="nintendo">Nintendo</option>
        <option value="mobile">Mobile</option>
    </select>
    <br>
    <label for="notes">Notes:</label>
    <input type="text" name="notes" id="notes">
    <br>

    <button type="submit">Create</button>
    </form>

</body>
</html>